@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 300px) {
  body {
    padding: 0% 5%;
    background-color: #f2ffd1;
  }
  #container {
    background-color: white;
  }
}

@media (min-width: 1000px) {
  body {
    padding: 0% 10%;
  }
}

@media (min-width: 300px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 5%;
  }
  nav ul {
    list-style: none;
  }
  nav .menu_ul {
    display: none;
  }
  nav .logo_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  nav .logo_ul :first-child a {
    text-decoration: none;
    color: #02ad02;
    font-size: 2em;
    font-weight: 800;
  }
  nav .logo_ul img {
    width: 4em;
    height: 4em;
  }
  nav .hamburger_ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  nav .hamburger_ul img {
    width: 3em;
    height: 3em;
  }
  header {
    width: 100%;
    height: 40vh;
    position: relative;
  }
  header img {
    width: 100%;
    height: 100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 0;
    opacity: 0.5;
  }
  header .header_title {
    z-index: 1;
    color: white;
    text-shadow: 1px 1px #76fcb2;
    background-color: rgba(11, 36, 16, 0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header .header_title h1 {
    font-size: 3em;
    text-align: center;
  }
  .first_sec img {
    width: 100%;
    height: 100%;
  }
  .first_sec h2 {
    color: #50A890;
    text-shadow: 1px 1px #b5f0b5;
    text-align: center;
    padding: 15% 0%;
  }
  .first_sec article h3 {
    text-align: center;
    padding: 5% 0% 0% 0%;
    color: #007691;
  }
  .first_sec article ul {
    padding: 5% 10%;
    color: #5F9191;
    text-align: center;
    list-style: none;
    list-style-image: url(/img/check-mark1.png);
    width: 80%;
  }
  .first_sec article ul li {
    line-height: 1.5;
  }
  .first_sec article ul :nth-child(6) {
    padding: 0% 0% 8% 0%;
  }
  .first_sec article ul a {
    text-decoration: none;
    background-color: #007691;
    color: white;
    padding: 2%;
    border-radius: 5px;
  }
  .second_sec {
    text-align: center;
    color: #50A890;
    text-shadow: 1px 1px #b5f0b5;
  }
  .second_sec h2 {
    padding: 15% 0% 5% 0%;
  }
  .second_sec a:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
  }
  @-webkit-keyframes flash {
    0% {
      opacity: .4;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flash {
    0% {
      opacity: .4;
    }
    100% {
      opacity: 1;
    }
  }
  .second_sec img {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  footer {
    color: #5F9191;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 10% 0%;
  }
  footer div a:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  footer div img {
    width: 2em;
    height: 2em;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  footer hr {
    text-align: center;
    border: 1px double #b0f5b0;
  }
  footer p {
    text-align: center;
    padding: 2%;
  }
}

@media (min-width: 700px) {
  nav .logo_ul :first-child a {
    font-size: 2.5em;
  }
  nav .logo_ul img {
    width: 6em;
    height: 6em;
  }
  nav .hamburger_ul img {
    width: 3.5em;
    height: 3.5em;
  }
  header {
    height: 60vh;
  }
  header .header_title h1 {
    font-size: 4em;
  }
  .first_sec h2 {
    font-size: 35px;
  }
  .first_sec article h3 {
    font-size: 30px;
  }
  .first_sec article ul {
    font-size: 23px;
  }
  .first_sec article ul a {
    border-radius: 10px;
  }
  .second_sec h2 {
    font-size: 35px;
  }
  .second_sec img {
    width: 49%;
    height: 300px;
  }
  footer div img {
    width: 35px;
    height: 35px;
  }
  footer p {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  nav .hamburger_ul {
    display: none;
  }
  nav .menu_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  nav .menu_ul a {
    text-decoration: none;
    color: #163029;
  }
  nav .menu_ul a:hover {
    background-color: #dffb97;
    border-radius: 5px;
  }
  .first_sec img {
    width: 49%;
    height: 40vh;
    float: right;
  }
  .first_sec article {
    width: 49%;
  }
  .first_sec article h3 {
    padding-top: 0;
    font-size: 25px;
  }
  .first_sec article ul {
    font-size: 20px;
  }
  .second_sec {
    clear: right;
    text-align: center;
    color: #50A890;
    text-shadow: 1px 1px #b5f0b5;
  }
  .second_sec h2 {
    padding: 15% 0% 5% 0%;
  }
  .second_sec img {
    width: 24%;
    height: 30vh;
  }
}

@media (min-width: 1500px) {
  .second_sec img {
    width: 24%;
    height: 300px;
  }
}
/*# sourceMappingURL=style.css.map */