@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


$navLogoColor: rgb(70, 203, 70);
$navHoverColor: #dffb97;

$homeHeaderShadowColor: 1px 1px rgb(176, 175, 175);
$homeHeaderBGColor: rgba(11, 36, 16, 0.1);
$homeH2Color: #50A890;
$homeH3Color: #007691;
$homeUlColor:  rgb(57, 56, 56); // 

$footerLineColor:  1px double #dffb97;

$skyBlueColor: #00ACC7;
$darkGrayColor: rgb(57, 56, 56); // 

$menuBorderColor: 1px dotted  rgb(57, 56, 56); // 


