@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600&display=swap');


$navLogoColor: rgb(70, 203, 70);
$homeHeaderShadowColor: 3px 3px rgb(96, 205, 145);
$homeHeaderBGColor: rgba(11, 36, 16, 0.1);
$homeH2Color: #50A890;
$homeH2ShadowColor:  1px 1px rgb(181, 240, 181);
$homeH3Color: #007691;
$homeUlColor: #5F9191;
$footerLineColor:  1px double rgb(176, 245, 176);
$skyBlueColor: #00ACC7;
$deepGreenColor: #059c65;
$menuH3Color: rgb(57, 56, 56);
$menuBorderColor: 1px dotted rgb(1, 102, 1);
$locationColor: rgb(57, 56, 56);
$navHoverColor: #dffb97;
$navMenuColor: #163029;

