@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


$navLogoColor: rgb(70, 203, 70);
$navHoverColor: rgb(224, 249, 224);

$eachPageStrongFont: 'Lato', sans-serif;

$homeHeaderShadowColor: 1px 1px rgb(101, 100, 100);
$homeHeaderBGColor: rgba(7, 22, 10, 0.1);
$homeH2Color: #50A890;
$homeH3Color: #007691;
$homeUlColor:  rgb(57, 56, 56); 

$footerLineColor:  1px double #50A890;

$skyBlueColor: #00ACC7;
$darkGrayColor: rgb(57, 56, 56); 

$menuBorderColor: 1px dotted  rgb(57, 56, 56); 


