// for 1200px
@media (min-width: 1200px) {

  // NAVIGATION 
  #home_container,
  #ourStory_container,
  #menu_container,
  #location_container,
  #contact_container {
    nav {
      padding: 1% 5% 1% 5%;

      #overlay {
        display: none;
      }
    }
  }

  #home_container {
    header {

      img {
        width: 100%;
        height: 75vh;
      }

      .text {
        font-size: 6.2em;
      }
    }
  }
}


// home page
@media (min-width: 1500px) {

  #home_container {
    header {
      .text {
        font-size: 6.5em;
      }
    }
  }

  // SECOND SECTION 
  #home_container,
  #menu_container {
    .review_sec {
      img {
        width: 24%;
        height: 300px;
      }
    }
  }

}

// ourStory page
@media (min-width: 1500px) {

  // SECOND SECTION 
  #ourStory_container {
    main {
      section {

        h2 {
          font-size: 60px;
        }

        p {
          font-size: 25px;
        }
      }

      img {
        width: 24%;
        height: 300px;
      }
    }
  }
}



// location page

@media (min-width: 1500px) {
  #location_container {
    main {
      padding: 3%;

      section {
        .google_map_sec {
          height: 60vh;
        }

        .detail_info_sec {
          justify-content: space-evenly;

          div {
            font-size: large;
          }
        }
      }
    }
  }
}



// contact page
@media (min-width: 1500px) {
  #contact_container {
    main {
      padding: 0% 20%;

      .contact_message {

        input[type=text],
        input[type=email] {
          width: 23vw;
        }
      }
    }
  }
}