// home page
@media (min-width: 1500px) {

  // SECOND SECTION 
  #home_container, #menu_container {
  .review_sec {
    img {
      width: 24%;
      height: 300px;
    }
  }
}
}

// ourStory page
@media (min-width: 1500px) {

  // SECOND SECTION 
  #ourStory_container {
  main {
    section {
      h2 {
        font-size: 60px;
      }
      p {
        font-size: 25px;
      }
    }
    img {
      width: 24%;
      height: 300px;
    }
  }
}
}



// location page

@media (min-width: 1500px) {
  #location_container {
    main {
      padding: 0%;
      section {
        .google_map_sec {
          height: 60vh;
        }
        .detail_info_sec {
          justify-content: space-evenly;
          div {
            font-size:large;
          }
        }
      }
    }
  }
}