// home page
@media (min-width: 1500px) {

  // SECOND SECTION 
  #home_container, #menu_container {
  .second_sec {
    img {
      width: 24%;
      height: 300px;
    }
  }
}
}

// ourStory page
@media (min-width: 1500px) {

  // SECOND SECTION 
  #ourStory_container {
  main {
    section {
      h2 {
        font-size: 60px;
      }
      p {
        font-size: 25px;
      }
    }
    img {
      width: 24%;
      height: 300px;
    }
  }
}
}