// home page 
@media (min-width: 300px) {

  // NAVIGATION 
  #home_container,
  #ourStory_container,
  #menu_container,
  #location_container,
  #contact_container {
    nav {
      @include flexBox();
      padding: 5%;

      ul {
        list-style: none;
      }

      .menu_ul {
        display: none;
      }

      .logo_ul {
        @include flexBox();

        :first-child a {
          text-decoration: none;
          color: rgb(2, 173, 2);
          font-size: 2em;
          font-weight: 800;
        }

        img {
          width: 4em;
          height: 4em;

        }
      }

      .hamburger_ul {
        width: 100%;
        @include flexBox(row, right);

        img {
          width: 3em;
          height: 3em;
        }
      }
    }
  }

  // HEADER 
  #home_container {
    header {
      width: 100%;
      height: 40vh;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        opacity: 0.5;
      }

      .header_title {
        z-index: 1;
        color: white;
        text-shadow: 1px 1px rgb(118, 252, 178);
        background-color: rgba(11, 36, 16, 0.1);
        width: 100%;
        height: 100%;
        position: absolute;

        @include flexBox();

        h1 {
          font-size: 3em;
          text-align: center;
        }
      }
    }
  }



  // FIRST SECTION 
  #home_container {
    main {
      .benefit_sec {
        img {
          width: 100%;
          height: 100%;
        }

        h2 {
          color: #50A890;
          text-shadow: 1px 1px rgb(181, 240, 181);
          text-align: center;
          padding: 15% 0%;
        }

        article {

          h3 {
            text-align: center;
            padding: 5% 0% 0% 0%;
            color: #007691;
          }

          ul {
            padding: 5% 10%;
            color: #5F9191;
            text-align: center;
            list-style: none;
            list-style-image: url(/img/check-mark1.png);
            width: 80%;

            li {
              line-height: 1.5;
            }

            :nth-child(6) {
              padding: 0% 0% 8% 0%;
            }



            a {
              text-decoration: none;
              background-color: #007691;
              color: white;
              padding: 2%;
              border-radius: 5px;
            }
          }

        }
      }
    }
  }




  // SECOND SECTION 
  #home_container,
  #menu_container {
    .review_sec {
      text-align: center;
      color: #50A890;
      text-shadow: 1px 1px rgb(181, 240, 181);

      h2 {
        padding: 15% 0% 5% 0%;
      }

      a:hover img {
        opacity: 1;
        -webkit-animation: flash 1.5s;
        animation: flash 1.5s;

        @-webkit-keyframes flash {
          0% {
            opacity: .4;
          }

          100% {
            opacity: 1;
          }
        }

        @keyframes flash {
          0% {
            opacity: .4;
          }

          100% {
            opacity: 1;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        opacity: 1;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }
    }
  }


  // FOOTER 
  #home_container,
  #ourStory_container,
  #menu_container,
  #location_container,
  #contact_container {
    footer {
      color: #5F9191;

      div {
        @include flexBox(row, center, center, 0px, 10px);
        padding: 10% 0%;

        a:hover img {
          -webkit-transform: scale(1.3);
          transform: scale(1.3);
        }

        img {
          width: 2em;
          height: 2em;
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
        }
      }

      hr {
        text-align: center;
        border: 1px double rgb(176, 245, 176);
      }

      p {
        text-align: center;
        padding: 2%;

      }

    }
  }
}



// ourStory page 
@media (min-width: 300px) {
  #ourStory_container {
    main {
      section {
        img {
          width: 100%;
          height: 100%;
        }

        padding-bottom: 20vh;

        article {
          padding: 3%;
        }
      }
    }

    h2 {
      color: #007691;
      font-size: 35px;
    }

    .skyblue {
      color: #00ACC7;
    }

    .deepgreen {
      color: #059c65;
      font-weight: 800;
    }


    .philosophy_sec {
      padding-bottom: 20vh;
    }

    .whyodoc_sec {
      h2 {
        padding: 3%;
      }

      p {
        padding-bottom: 2%;
      }

      padding: 0;
    }
  }
}




// menu page

@media (min-width: 300px) {
  #menu_container {
    h1 {
      text-align: center;
    }

    .order_h1 {
      padding-top: 10vh;
    }

    .menu_sec {
      padding: 5%;

      h3 {
        color: rgb(57, 56, 56);
      }

      .cheese_art {
        padding: 5%;
        border: 1px dotted rgb(1, 102, 1);
      }

      .yogurt_art {
        padding: 5%;
        border: 1px dotted rgb(1, 102, 1);
        border-top: 1px solid transparent;
      }
    }

    .order_sec {
      padding: 5%;

      .order_art {
        padding: 5%;
        border: 1px dotted rgb(1, 102, 1);

        .order_div_1 {
          @include bgBox("/img/naver_logo.jpg", center, contain, no-repeat);
          width: 100%;
          height: 10vh;
          margin-bottom: 5%;
        }

        .order_div_2 {
          @include bgBox("/img/idus_logo.png", center, contain, no-repeat);
          width: 100%;
          height: 8vh;
          margin-bottom: 9%;
        }
        
        .order_div_3 {
          @include bgBox("/img/mangoplate_logo.png", center, contain, no-repeat);
          width: 100%;
          height: 8vh;
          margin-bottom: 7%;
        }

      }
    }
  }
}





  // location page

  @media (min-width: 300px) {
    #location_container {
      main {
        padding: 5%;

        .google_map_sec {
          width: 100%;
          height: 40vh;
          border: 1px dotted rgb(1, 102, 1);
        }

        .detail_info_sec {
          padding: 5%;

          div {
            color: rgb(57, 56, 56);
            padding-bottom: 3%;
          }
        }
      }
    }
  }


  // contact page
  @media (min-width: 300px) {
    #contact_container {
      main {
        padding: 10%;
        text-align: center;

        .contact_reason {
          h2 {
            font-size: 30px;
          }
          .contact_greeting {
            font-size: 20px;
            padding: 10%;
          }
          .contact_subject {
            select {
              width: 100%;
              padding: 1%;
            }
            p {
              text-align: left;
            }
          }
        }
        .contact_message {
          input[type=text], input[type=email], textarea {
            width: 100%;
            padding: 2% 0%;
          }
          p {
            padding-top: 5%;
            text-align: left;
          }
          .robot {
            padding: 5% 0%;
            text-align: center;
          }
          input[type=submit] {
            padding: 2%;
          }
        }
      }
    }
  }
