// homepage
@media (min-width: 700px) {

  // NAVIGATION 
  #home_container, 
  #ourStory_container, 
  #menu_container,
  #location_container {
  nav {
    .logo_ul {

      :first-child a {
        font-size: 2.5em;
      }

      img {
        width: 6em;
        height: 6em;

      }
    }

    .hamburger_ul {
      img {
        width: 3.5em;
        height: 3.5em;
      }
    }
  }
}

  
  // HEADER 
  #home_container {
  header {
    height: 60vh;

    .header_title {
      h1 {
        font-size: 4em;
      }
    }
  }
  }

  // FIRST SECTION 
  #home_container {
  .first_sec {

    h2 {
      font-size: 35px;
    }

    article {

      h3 {
        font-size: 30px;
      }

      ul {
        font-size: 23px;

        a {
          border-radius: 10px;
        }
      }

    }
  }
}

  // SECOND SECTION 
  #home_container, #menu_container {
  .second_sec {

    h2 {
      font-size: 35px;
    }

    img {
      width: 49%;
      height: 300px;
    }
  }
}

  // FOOTER 
  #home_container, 
  #ourStory_container, 
  #menu_container,
  #location_container {
  footer {
    div {
      img {
        width: 35px;
        height: 35px;
      }
    }

    p {
      font-size: 20px;
    }
  }
}
}

// ourStory page
@media (min-width: 700px) {
  #ourStory_container {
    h2 {
      font-size: 70px;
    }

    p {
      font-size: 25px;
    }
  }
}


// menu page

@media (min-width: 700px) {
  #menu_container {
    h1 {
      font-size: 50px;
    }
    .first_sec {
      padding: 5%;
      h2 {
        font-size: 40px;
      }
      h3 {
        font-size: 25px;
      }
    }


  }
}




// location page

@media (min-width: 700px) {
  #location_container {
    main {
      .detail_info_sec {
        @include flexBox(row,space-around,flex-start);
      }
    }
  }
}
